* {
    margin: 0;
    padding: 0;
    box-sizing:  border-box;
}

body {
    font-family: 'Segoe UI';
    font-weight: 400;
    background-color: black;color: white;
}

.footer {
    padding: 40px 0;
    background-color: rgb(6, 6, 170);
}

.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: rgb(255, 255, 255);
}

.footer .social a{
    font-size: 24px;
    color: inherit;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.8;
}

.footer .social a:hover{
    opacity: 1;
}

.footer ul{
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}
.footer ul a{
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer ul li{
    display: inline-block;
    padding: 0 15px;
}

.footer ul li a:hover{
    opacity: 1;
}

.footer .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
}