/* body */

html {
  scroll-behavior: smooth;
}

* {
  font-family: 'Lora', serif;
  box-sizing: border-box;
}

body { 
  margin: 0;
}

/* header */

.header {
  overflow: hidden;
  background-color: #ffffff;
  margin: 10px auto;
}

.header ul{
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items:center;
  padding: 20px 0;
  
}
.header a{
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 1.5em; 
  line-height: 25px;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  transition: 0.4s;
}
.col{
  padding-top: 40px;
}

.row {
  display: flex;
  
}

@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }
  .col {
    padding-top: 20px;
    width: 100%;
  }
}

.bigger {
  font-size: calc(.5vw + 0.7em);
  text-align: justify;
}


@media (max-width: 1000px){
  .header ul{
    display: flex;
    flex-direction: column;
  }
  .header ul li{
    padding: .7em;
  }
  .header ul li:nth-child(1){
    order: 2;
  }
  .header ul li:nth-child(2){
    order: 3;
  }
  .header ul li:nth-child(4){
    order: 4;
  }
  .header ul li:nth-child(5){
    order: 5;
  }
  .header ul li:hover{
    width: 90%;
    box-shadow: 0px 0px 12px 4px rgba(0,0,0,0.8);
    border-radius: 5px;
    text-align: center;
  }
  .header ul li:nth-child(3){
    order: 1;
    box-shadow: none;
  }
  
  
  
}

/* footer */
.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none;
  
}
.footer-links li
{
  
  display:block
}
.footer-links a
{
  color:#737373;
  text-decoration: none;
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#0051ff
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.instagram:hover
{
  background-color:#ea4c89
}
.social-icons a.youtube:hover
{
  background-color:#d60f0f
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

.text-justify {
  text-align: justify;
}


.committee-img {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 225px;
  transition: transform 750ms ease-in-out;
}

.committee-img:hover {
  transform: scale(1.2);
}

.committee-page-div {
  width: 520px;
  margin: 30px auto;
}

.committee-page-img {
  width: 500px;

}

.flex{
  display: flex;
  padding: 1.7em;
  align-items: stretch;
}
.flex1{
  flex: 1;
}
.flex2{
  flex: 2;
}
.margin-right{
  margin-left: 2em;
}
.idarikurul-img{
  display: block;
  width: 350px;
  border-radius: 20px;
  margin: 0 auto;
  border: 4px solid rgb(253, 253, 253);
}
.ik-name{
  padding: .15em .1em;
  border: 3px solid black;
  border-radius: .75em;
  font-size: calc(1vw + 1.2rem);
  text-align: center;
  width: 70%;
}
.content-inline{
  padding-top: 1em;
  line-height: 1.3em;
  text-align: justify;
  font-size: calc(.8vw + 0.65rem);
  width: 70%
}
.hr-style {
  height: 1px;
  border: solid;
  color: #323232;
  opacity: initial;
}
.Soon{
  font-size: 5rem;
  text-align:center;
  font-family: cursive;
}
.hazard-border {
  border-top: 20px solid pink;
  border-bottom: 20px solid pink;
  border-image: repeating-linear-gradient(
    -55deg,
    #000,
    #000 20px,
    #ffb101 20px,
    #ffb101 40px
  ) 10;
}

.center-soon {
  width: 600px;
  margin: auto;
}

/*
.committees {
  margin: auto;
  text-align: center;
}*/
.card {
  /* margin-left: auto;
  margin-right: auto; */
  text-align: center;
  /* padding-top: 5px; */
  /* margin-top: 5px; */
}

.card h3 {
  margin-top: 10px;
}

.container-ge {
  width: 60vw;
  margin: 1em auto;
  border: 4px solid gray;
  border-radius: 4em;
}
.container-ge > * + * {
  margin-left: 1.5em;
  margin-top: 0;
}
.flex-ge {
  display: flex;
  padding: 1.7em;
  align-items: stretch;
}
.flex1-ge {
  flex: 1;
}
.flex2-ge {
  flex: 2;
}
.img-ge {
  display: block;
  width: calc(10vw + 7.5em);
  border-radius: 15em;
  margin: 0 auto;
  border: 4px solid rgb(253, 253, 253);
}
.developer-name-ge {
  font-size: calc(1.8rem + .7vw);
  line-height: 1.3em;
  padding-bottom: .5em;
}
.content-ge {
  font-size: calc(.5rem + .7vw);
  line-height: 1.3em;
  text-align: justify;
  color: white;
}
.content-ge > p {
  font-family: monospace;
}

.bg-ge {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 300% 300%;
  background-image: linear-gradient(
          -45deg, 
          rgb(0, 34, 128) 0%, 
          rgb(3, 30, 165) 25%, 
          rgb(31, 33, 66) 51%, 
          rgb(6, 78, 111) 100%
  );  
  animation: AnimateBG 20s ease infinite;
  }

  @keyframes AnimateBG { 
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

.carousel-control-next-icon {
  height: 100px !important;
  width: 100px !important;
}

.carousel-control-prev-icon {
  height: 100px !important;
  width: 100px !important;
}